#hltsheading {
  margin: auto;
}

#menu-btn {
  margin-top: 0;
  left: 5rem;
}

.container {
  min-height: 100vh;
}

#home-btn {
  right: 5rem;
  z-index: 5;
  position: fixed;
  margin-top: -1.5rem;
}

@media only screen and (max-width: 600px) {
  #menu-btn {
    left: 1rem;
  }
  #home-btn {
    margin-top: -1.25rem;
    right: 1rem;
  }
}
