@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

#hltsheading {
  margin: auto;
}

#menu-btn {
  margin-top: 0;
  left: 5rem;
}

.hlts {
  min-height: 100vh;
}

.mycontainer{
  margin-left: 4rem;
  margin-right: 4rem;
}
.card {
  box-shadow: 0px 0px 10px #437bc4;
  background-color: #272727 !important;
  border: none !important;
  margin: 1rem;
  width: 18rem;
}

p,
h5,
h1 {
  font-family: "Montserrat";
}

.card-body h5 {
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.date-time {
  border: 5px solid #ffffff;
  padding: 0.5rem;
}

.date-time h5 {
  color: #437bc4 !important;
}

.date-time h1 {
  font-weight: bold;
}

#home-btn {
  right: 5rem;
  z-index: 5;
  position: fixed;
  margin-top: -1.5rem;
}

@media only screen and (max-width: 600px) {
  #menu-btn {
    left: 1rem;
  }
  #home-btn {
    margin-top: -1.25rem;
    right: 1rem;
  }
}

#marquee-container {
  background-color: white;
  bottom: 0;
   width: 100%; /* or whatever you want */
   margin: 0 auto; /* centers it */
   overflow: hidden;
   white-space: nowrap;
}

.smallimage{
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (min-width: 600px) {
  .card{
    /* margin-left: 4rem;
    margin-right: 4rem; */
  }
  .myrow1{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .myrow2{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .smallimage{
    height: 10%;
    width: 10%;
  }
}

@media screen and (max-width: 600px) {
  .myrow1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .myrow2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .smallimage{
    height: 30%;
    width: 30%;
  }
}

/********** SLIDER **********/
.slider {
  max-width: 940px;
  margin: 0px auto 30px auto;}

.slide-viewer {
    position: relative;
    overflow: hidden;
    height: 430px;}

.slide-group {
    width: 100%;
    height: 100%;
    position: relative;}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;}

.slide:first-child {
    display: block;}

/********** BUTTONS **********/
.slide-buttons {
  text-align: center;}

.slide-btn {
  border: none;
  background: none;
  color: #000;
  font-size: 200%;
  line-height: 0.5em;}

.slide-btn.active, .slide-btn:hover {
  color: #009900;
  cursor: pointer;}
