@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lilita+One&display=swap");

.container{
    min-height:100vh
}

.form-top-text{
  font-family: "Montserrat", sans-serif;
}

form{
    padding-left: 3rem;
    padding-right:3rem;
}

form p{
    text-transform: uppercase;
    color: white;
    font-family: "Montserrat", sans-serif;
}

input[type="text"],input[type="email"] {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #707070;
    margin-bottom: 2rem;
    outline: transparent;
    transition: 0.5s;
    font-size: 1rem;
    color:white;
}

input[type="text"]:focus,input[type="email"]:focus {
    border-bottom: 2px solid #437BC4;
    margin-bottom: 2rem;
    outline: transparent;
    transition: 0.15s;
    color: #437BC4;
}



.registrationForm{
    box-shadow: 0px 0px 10px #437BC4;
    background-color: #272727;
    margin-top: 3rem;
}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
}

input[type="submit"]
{
    display: block;
    margin: auto;
    border:none;
    border-radius: 50px;
    outline:transparent;
    padding: 0.5rem 1rem;
    background-color: #437BC4;
    color: white;
    font-family: "Lilita One", cursive;
}

@media only screen and (max-width: 768px) {
  form{
      padding: 0;
  }

  .contact-grid{
      display: inline;
  }
}