.content-wrapper {
    color:white;
    text-align: center;
}
.prev-spons {
  text-align: center;
}
.prev-spons > h3 {
  font-size: 2.5rem;
  font-family: "Lilita One", cursive;
  color: white;
}

/* marquee {
    min-height: 210px;
} */
.foo {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
}
#marquee-container {
  background-color: white;
  bottom: 0;
   width: 100%; /* or whatever you want */
   margin: 0 auto; /* centers it */
   overflow: hidden;
   white-space: nowrap;
}

.largeimage, .smallimage{
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 600px) {
  /* #bannerimage{
    height: 200px;
    width: auto;
  } */
  .largeimage{
    height: 20%;
    width: 20%;
  }
  .smallimage{
    height: 10%;
    width: 10%;
  }
}

@media screen and (max-width: 600px) {
  /* #bannerimage{
    height: 150px;
    width: auto;
  } */
  .largeimage{
    height: 22%;
    width: 22%;
  }
  .smallimage{
    height: 12%;
    width: 12%;
  }
}
