@import url("https://fonts.googleapis.com/css?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Thasadith&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Arial", Serif;
  background-color: #f4f4f4;
  overflow-x: hidden;
  margin: 0;
}
.events {
  height: 360px;
  background-color: white;
  border: black 2px solid;
}
.events-m {
  height: 455px;
  background-color: white;
  border: black 2px solid;
}
.footer-main {
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 160px;
}
.before-footer-text {
  text-align: left;
  font: Regular 40px/50px Montserrat;
  letter-spacing: 0.4px;
  color: #ffffff;
  opacity: 1;
}
.footer-text {
  text-align: left;
  font: Regular 25px/40px Montserrat;
  letter-spacing: 0.25px;
  color: #ffffff;
  opacity: 1;
}
.footer-social {
  height: 100%;
  margin-top: 60px;
}
.pdf-box {
  background: #bd3b3b 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 7px #00000029;
  opacity: 1;
  height: 106px;
  width: 120%;
}
.top-bar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem !important;
}

.top-logo {
  height: auto;
  width: 25rem;
  transition: 0.25s;
}

.side-nav {
  height: 100%;
  position: fixed;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: -6px 17px 16px #437bc4;
  border-bottom-right-radius: 10rem;
  border-top-right-radius: 3.25em;
  z-index: 6;
}

.side-nav a {
  padding: 7px 5rem;
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-family: "Lilita One", cursive;
}

.side-nav a:hover {
  text-decoration: none;
  color: #437bc4;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

.section-1 {
  height: 100vh;
  width: 100%;
  background: url("../assets/maninder.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sidebar-social a {
  padding: 1rem;
}

.sidebar-social {
  padding-left: 4rem;
  margin-top: 4rem;
}

#menu-btn {
  height: auto;
  width: 2.5rem;
  position: fixed;
  margin-top: -1.25rem;
  z-index: 5;
}

#home-btn {
  height: auto;
  width: 4rem;
}

.close-btn {
  height: auto;
  width: 2.25rem;
  padding-top: 2.75rem;
}

.fixed-top {
  z-index: auto !important;
}

.timer h3 {
  font-family: "Lato";
  font-weight: 700;
}

.timer span {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Lato";
  padding: 0.5rem 0.75rem;
  transition: 0.25s;
}

.darken {
  background: #001026;
}

.whiten {
  background: #fff;
}

.landing-bottom {
  margin: auto;
  position: absolute;
  width: fit-content;
  bottom: 10rem;
  left: 0;
  right: 0;
  transition: 0.25s;
}

.captions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2.75rem;
}

.video {
  position: absolute;
  bottom: 2.5rem;
  right: 3rem;
  border: 2px solid white;
  border-radius: 5px;
  transition: 0.25s;
}

.captions span {
  text-align: center;
  color: white;
  font-family: "lato";
  font-size: 1.25rem;
  font-weight: 700;
  transition: 0.25s;
}

.active-section {
  color: #437bc4 !important;
}

@media only screen and (max-width: 600px) {
  #home-btn {
    width: 2.5rem;
  }
  .footer-step-1 span,
  .footer-step-1 button {
    font-size: 1.25rem !important;
  }

  .footer-step-1 {
    display: block !important;
  }

  .footer-step-1 button {
    margin-top: 1rem;
    width: 100% !important;
  }

  .footer-step-2 div {
    display: block !important;
  }

  .footer-2-logo {
    width: 12rem;
  }

  .captions span {
    text-align: center;
    color: white;
    font-family: "lato";
    font-size: 0.75rem;
    font-weight: 700;
  }

  .timer span {
    font-size: 1rem;
    font-weight: 700;
    font-family: "Lato";
    padding: 0.5rem 0.75rem;
  }

  .top-logo {
    width: 10rem;
  }

  .close-btn {
    padding-top: 1rem;
  }

  #menu-btn {
    left: 2rem;
  }

  .side-nav a {
    padding: 7px 2rem;
  }

  .sidebar-social {
    padding-left: 0.5rem;
    margin-top: 4rem;
  }
  .landing-bottom {
    margin-top: 13em;
  }
}

@media only screen and (max-width: 1024px) {
  .landing-bottom {
    bottom: 5rem;
  }

  .landing-bottom {
    position: relative;
    margin-top: 16em;
  }

  .video {
    position: relative;
    display: block;
    margin: auto;
    right: 0;
    left: 0;
  }
}

/* highlights */

.hlts {
  margin: 0px;
  background: url("../assets/highlights-bg.png");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.my-captions {
  font-family: "Lilita One", cursive;
  color: white;
  text-shadow: 0px 0px 20px black;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

#hltsheading {
  font-size: 4.25rem;
}

.footer-step-1 {
  display: flex;
  align-items: center;
  background: #151515;
  padding: 5rem;
  justify-content: space-evenly;
}

.footer-step-1 button {
  background: #bd3b3b;
  border: none;
  padding: 1.5rem 2rem;
  font-size: 2rem;
}

.footer-step-1 span {
  font-size: 2rem;
}

.footer-step-2 {
  background-color: #000;
  padding: 2rem;
}

.footer-step-2 div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0 !important;
}
.footer-2-p {
  padding-left: 1rem;
}

.footer-2-logo {
  width: 15rem;
}

@media screen and (max-width: 991px) {
  #hltsheading {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 375px) {
  .timer span {
    padding: 0.5rem;
  }
  .captions {
    grid-gap: 1.75rem;
  }

  .footer-step-1 {
    padding: 2rem;
  }

  .footer-step-1 span {
    text-align: center !important;
  }

  .footer-2-logo {
    width: 7rem;
  }

  .footer-2-p {
    padding-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  #hltsheading {
    font-size: 2.25rem;
  }
}
.my-col {
  padding: 20px;
}
.s1 {
  border: 4px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.5);
  height: 100% !important;
  width: 100% !important;
}
/* Reach US */
.reach-us {
  min-height: 105vh;
  background-size: cover;
  padding-top: 50px;
}
.reach-us > h1 {
  color: white;
  font-size: 4.25rem;
  text-align: center;
  font-family: "Lilita One", cursive;
}
.my-container {
  max-width: 1800px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
}
.reach-card {
  margin-bottom: 6vh;
  margin-left: 1vw;
}
.i-wrapper > img {
  width: 70px;
  margin-right: 1vw;
}
.reach-card > div {
  letter-spacing: 0.3px;
  color: #ffffff;
  opacity: 1;
  font-size: 24px;
}
.card-data {
  display: flex;
  align-items: center;
}
.card-data > a {
  color: white;
}
#map {
  margin-top: 1vh;
  height: 44vh;
  width: 40vw;
}
@media (max-width: 768px) {
  #map {
    margin-top: 3vh;
    width: 100%;
    margin-bottom: 3vh;
  }
  .reach-card > div {
    font-size: 16px;
  }

  .reach-us > h1 {
    font-size: 2.25rem;
  }
}

/* events section */
.event-marathon {
  background: linear-gradient(
      0deg,
      rgba(119, 102, 102, 0.9),
      rgba(119, 102, 102, 0.5)
    ),
    url("../assets/event-covers/youth-marathon.jpg");
}

.event-techincal {
  background: linear-gradient(
      0deg,
      rgba(119, 102, 102, 0.7),
      rgba(119, 102, 102, 0.7)
    ),
    url("../assets/event-covers/technical.jpg");
}

.event-informal {
  background: linear-gradient(
      0deg,
      rgba(119, 102, 102, 0.7),
      rgba(119, 102, 102, 0.5)
    ),
    url("../assets/event-covers/informal.jpg");
}

.event-cultural {
  background: linear-gradient(
      0deg,
      rgba(119, 102, 102, 0.7),
      rgba(119, 102, 102, 0.5)
    ),
    url("../assets/event-covers/cultural.jpg");
}

.event-literary {
  background: linear-gradient(
      0deg,
      rgba(119, 102, 102, 0.7),
      rgba(119, 102, 102, 0.5)
    ),
    url("../assets/event-covers/literary.jpeg");
}

.event-sports {
  background: linear-gradient(
      0deg,
      rgba(119, 102, 102, 0.7),
      rgba(119, 102, 102, 0.5)
    ),
    url("../assets/event-covers/sports.jpg");
}

.event-techincal,
.event-marathon,
.event-informal,
.event-cultural,
.event-literary,
.event-sports {
  font-size: 40px;
  background-size: cover;
  font-family: "Thasadith", sans-serif;
}

.event-techincal:hover,
.event-marathon:hover,
.event-informal:hover,
.event-cultural:hover,
.event-literary:hover,
.event-sports:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.events div,
.events-m {
  padding: 0 !important;
  overflow: hidden;
  /* width: fit-content;
  margin: auto; */
}

/* TEAM PAGE */
.sectionTeamPage {
  width: 100%;
  background: url("../assets/Group\ 23.png") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navHeading {
  margin: 20px auto;
  color: white;
  font-family: "Lilita One", cursive;
}

.convergeHomeLogo {
  width: 3rem;
  cursor: pointer;
  margin-left: 15px;
}

.teamImageDiv {
  margin: 20px 30px;
  text-align: center;
}

.teamImage {
  width: 16rem;
  height: 16rem;
  box-shadow: 0px 2px 15px #437bc4;
}

.teamDetails {
  margin-top: 20px;
  color: white;
  text-align: center;
}

.teamMember {
  margin: 30px 40px;
  display: inline-block;
}

.teamSocialHandle {
  position: relative;
}

.teamSocialLinks {
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  position: absolute;
}
.teamSocialLinks:hover {
  background: rgba(0, 0, 0, 0.5);
  transition-duration: 0.7s;
}
.teamSocialLinks:hover .facebook {
  opacity: 1;
  transition-duration: 0.7s;
}

.teamSocialLinks:hover .linkedin {
  opacity: 1;
  transition-duration: 0.7s;
}
.facebook {
  width: 1.2rem;
  margin: 40% 17px;
  user-select: none;
  opacity: 0;
}

.linkedin {
  width: 2.2rem;
  margin: 40% 17px;
  user-select: none;
  opacity: 0;
}

/*Sponsors*/

.sectionsponsor {
  width: 100%;
  background: url("../assets/highlights-bg.png") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.titlesponsor {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 100px;
  color: white;
}
.titlesponsor h2 {
  margin: auto;
  margin-bottom: 50px;
}

.sponsorDiv {
  margin: 20px 30px;
  text-align: center;
}

.sImage {
  width: 10rem;
  box-shadow: 0px 2px 15px;
}

.sponsorimage {
  align-items: center;
  width: 10rem;
  box-shadow: 0px 2px 15px;
}

.sponsor {
  margin: 30px 40px;
  display: inline-block;
}
#hltsheading {
  margin: auto;
}

/* confirm */

.confirm-tick {
  width: 5rem;
  margin: 4rem auto;
}

.confirm-email {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2rem;
}
